.inherit-text {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

p > img:only-child {
  margin-top: 8px;
  margin-bottom: 8px;
}

.illustration {
  border: 1px solid rgb(230, 230, 230);
}

.list-illustration {
  margin-top: 10px;
  margin-bottom: 1em;
  margin-right: 30px;
}

.fake-code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0;
}

