:root {
  
  --sidebar-name-text-align     : left;
  
  --code-inline-background      : rgba(0, 0, 0, 0.04);
  
  --kbd-margin                  : 0 0;
  --kbd-padding                 : 0.3em 0.3em;
  
  --table-row-even-background   : var(--mono-tint3);
  --table-row-odd-background    : ;
}

a[data-id='introduction'],
a[data-id='advanced-topics']
{
  display: none;
}

.markdown-section td > kbd {
  min-width: 60px;
}

.markdown-section td {
  vertical-align: top;
}

.markdown-section p > img:only-child {
  margin-top: 8px;
  margin-bottom: 8px;
}

.markdown-section .illustration {
  border: 1px solid rgb(230, 230, 230);
}

.markdown-section .list-illustration {
  margin-top: 10px;
  margin-bottom: 1em;
  margin-right: 30px;
}


